.chat-container{
    position: absolute;
    left: 0;
    bottom: 15px;

    padding: 12px 0 0   3px ;
    width: 300px;
    box-sizing: border-box;
    &.opening{
        animation: open-chat .4s linear;
        bottom: 400px;
    }&.closing{
        animation: close-chat .4s linear;
        
    }
    .chatOpenCloser{
        width: 30px;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        &.closer{
            transform: scale(-1);
        }
    }
    .chat-box
    {   
        display: flex;
        flex-direction: column;
        justify-content: end;
        border-radius: 20px 20px 0 0;
        height: 400px;  
        background: linear-gradient(to right bottom,#3d0d70 ,#5c0d70 );
        border: 2px solid #ffffff;
        position: absolute;
        width: calc(100% - 15px);
        input.chatSendingText{
            width: 100%;
            border: none;
            outline: none   ;
            padding: 5px 10px;
            font-family: "Montserrat";
        }
    }
}
@keyframes open-chat{
    0%{
        bottom: 0px;
    }
    80%{
        bottom: 310px;
    }
    100%{
        bottom: 400px;
    }
}

@keyframes close-chat{
    0%{
        bottom: 400px;
    }
    80%{
        bottom: 90px;
    }
    100%{
        bottom: 15px;
    }
}