@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap');
.container{

}
:root {
    --stripe-size: 100px;
    --color1: rgb(107, 117, 202);
    --color2: #2d407a;
    --duration: 2s;
  }
  
  body {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
 
  